Parte 2/Print e export/flows.json
[
    {
        "id": "08941dfd6d932188",
        "type": "mqtt in",
        "z": "7e1d30e31a8cb69f",
        "name": "",
        "topic": "cardioIA/temperatura",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "82a293deeb0d316a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 220,
        "wires": [
            [
                "2b0aef11b29c52fa",
                "900409fbba3d9626"
            ]
        ]
    },
    {
        "id": "62550f445b2af313",
        "type": "mqtt in",
        "z": "7e1d30e31a8cb69f",
        "name": "",
        "topic": "cardioIA/umidade",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "82a293deeb0d316a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 780,
        "y": 160,
        "wires": [
            [
                "dc2b13fe07b6bfa7",
                "3821f97f08cd1c0e"
            ]
        ]
    },
    {
        "id": "76eb9dab496157c1",
        "type": "mqtt in",
        "z": "7e1d30e31a8cb69f",
        "name": "",
        "topic": "cardioIA/alerta",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "82a293deeb0d316a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 320,
        "wires": [
            [
                "cb3fd7043ce58f65",
                "eaae6672a80dcf67",
                "3821f97f08cd1c0e"
            ]
        ]
    },
    {
        "id": "cb3fd7043ce58f65",
        "type": "debug",
        "z": "7e1d30e31a8cb69f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 340,
        "wires": []
    },
    {
        "id": "2b0aef11b29c52fa",
        "type": "debug",
        "z": "7e1d30e31a8cb69f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 280,
        "wires": []
    },
    {
        "id": "dc2b13fe07b6bfa7",
        "type": "debug",
        "z": "7e1d30e31a8cb69f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 120,
        "wires": []
    },
    {
        "id": "900409fbba3d9626",
        "type": "ui-chart",
        "z": "7e1d30e31a8cb69f",
        "group": "ab2c4a5d26d5aa45",
        "name": "",
        "label": "Temperatura (°C)",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "50",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 390,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "eaae6672a80dcf67",
        "type": "ui-gauge",
        "z": "7e1d30e31a8cb69f",
        "name": "",
        "group": "ab2c4a5d26d5aa45",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": "6",
        "height": "6",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Umidade (%)",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 830,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "3821f97f08cd1c0e",
        "type": "ui-text",
        "z": "7e1d30e31a8cb69f",
        "group": "ab2c4a5d26d5aa45",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "14",
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 830,
        "y": 260,
        "wires": []
    },
    {
        "id": "9c47d2173111be00",
        "type": "ui-chart",
        "z": "7e1d30e31a8cb69f",
        "group": "ab2c4a5d26d5aa45",
        "name": "",
        "label": "Batimentos Cardíacos (BPM)",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "200",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 540,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "92bb630099e54488",
        "type": "mqtt in",
        "z": "7e1d30e31a8cb69f",
        "name": "",
        "topic": "cardioAI/batimentoscardiacos",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "82a293deeb0d316a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 60,
        "wires": [
            [
                "9c47d2173111be00",
                "52c6f4848ef206dc"
            ]
        ]
    },
    {
        "id": "52c6f4848ef206dc",
        "type": "debug",
        "z": "7e1d30e31a8cb69f",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "82a293deeb0d316a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "11f28f6db6074a898450c2fe937cb11a.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ab2c4a5d26d5aa45",
        "type": "ui-group",
        "name": "Monitoramento ",
        "page": "a0e97633c714da35",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a0e97633c714da35",
        "type": "ui-page",
        "name": "CardioIA",
        "ui": "51d0ea36386d6151",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "281f0ecc4795535f",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "51d0ea36386d6151",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "281f0ecc4795535f",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "2eadc3e8ced7de30",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]